/*Estilos generales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Estilos al cuerpo de la pagina*/
body {
  font-family: Arial, sans-serif;
  background-color: #026773;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
/*Estilos al contenedor principal*/
.container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  max-width: 900px;
  padding: 20px;
}
/*Estilos a las secciones laterales*/
.side {
  flex: 1;
  padding: 10px;
}
/*Estilos para la foto*/
.photo {
  display: flex;
  justify-content: center; /*justifica el contenido al centro de la pagina*/
  margin-bottom: 20px;
}
.photo img {
  width: 400px;
  height: 400px;
  border-radius: 50%; /* Hace que la imagen sea circular */
  border: 5px solid #fff;
}
/*Estilos a los contenedores internos de los laterales*/
.info, .social, .profile, .studies, .tech-stack, .button {
  border: 1px solid black;
  border-radius: 30px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #3CA6A6;
}
/*Espaciado para los elementos dentro de info y social*/
.info p, .social a {
  margin: 5px 0;
}
/*Estilos para los enlaces*/
.social a {
  display: block;
  text-decoration: none;
  color: black;
}
/* Centrar los títulos */
.info h3, .social h3, .profile h3, .studies h3, .tech-stack h3 {
  text-align: center;
}
/* Sección de iconos de redes sociales */
i {
  display: flex;
  flex-direction: column;
  gap: 10px;
/* Diseño de los cuadros de selección en redes sociales */
  width: 30px;
  height: 30px;
  border: 1px solid rgb(66, 27, 27);
  display: inline-block;
  align-content: center;
  text-align: center;

  border-radius: 20px;
  color: azure;
}
/* diseño del contenedor del botón */
.button {
  display: flex;
  justify-content: center;
}
/* Estilos del botón */
button {
  padding: 10px 20px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}
/* Efecto hover para el botón */
button:hover {
  background-color: grey;
}

/*Diseño responsivo*/
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .side {
    width: 100%;
    text-align: center;
  }
  .photo img {
    max-width: 200px;
  }
}